<div class="text-center">
  <h1>About Us(sobre mi)</h1>
  <p class="lead">Me llamo Pedro Tagle, me encuentro en el ultimo semestre de la carrera, Ingenieria Civil en Obras civiles, mencion dearrollo de proyectos de infraestructura.</p>
  <p>El plan es aprender un poco de programacion para facilitar procesos.</p>
</div>