<div class="text-center" id="about-container">
  <h1 id="about-title">About Us (Sobre mí)</h1>
  <p id="about-description" class="lead">Me llamo Pedro Tagle, me encuentro en el último semestre de la carrera, Ingenieria Civil en Obras Civiles, mención desarrollo de proyectos de infraestructura.</p>
  <p id="about-plan">El plan es aprender un poco de programación para facilitar procesos.</p>
</div>
